<footer>
  <style>
a:link {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
  <hr>
  <center>
      <section class="row container-lg">
        <article class="col-12 col-md-3">
          <a href="/skyward-sword">Skyward Sword</a><br>
          <a href="/minish-cap">Minish Cap</a><br>
          <a href="/four-swords">Four Swords</a><br>
          <a href="/ocarina-of-time">Ocarina of Time</a><br>
          <a href="/a-link-to-the-past">A Link to the Past</a>
        </article>
        <article class="col-12 col-md-3">
          <a href="/links-awakening">Link's Awakening</a><br>
          <a href="/oracle-of-ages">Oracle of Ages</a><br>
          <a href="/oracle-of-seasons">Oracle of Seasons</a><br>
          <a href="/link-between-worlds">A Link Between Worlds</a><br>
          <a href="/tri-force-heroes">Tri Force Heroes</a>
        </article>
        <article class="col-12 col-md-3">
          <a href="/the-legend-of-zelda">The Legend of Zelda</a><br>
          <a href="/the-adventure-of-link">The Adventure of Link</a><br>
          <a href="/majoras-mask">Majora's Mask</a><br>
          <a href="/twilight-princess">Twilight Princess</a><br>
          <a href="/four-swords-adventures">Four Swords Adventures</a>
        </article>
        <article class="col-12 col-md-3">
          <a href="/wind-waker">The Wind Waker</a><br>
          <a href="/phantom-hourglass">Phantom Hourglass</a><br>
          <a href="/spirit-tracks">Spirit Tracks</a><br>
          <a href="/breath-of-the-wild">Breath of the Wild</a><br>
          <a href="/tears-of-the-kingdom">Tears of the Kingdom</a>
        </article>
      </section>
  </center>
  <hr>
</footer>