<footer>
  <style>
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
  <hr>
  <center>
      <section class="row container-lg">
        <article class="col-12 col-md-3">
          <a href="/skyward-sword/index.html">Skyward Sword</a><br>
          <a href="/minish-cap/index.html">Minish Cap</a><br>
          <a href="/four-swords/index.html">Four Swords</a><br>
          <a href="/ocarina-of-time/index.html">Ocarina of Time</a><br>
          <a href="/a-link-to-the-past/index.html">A Link to the Past</a>
        </article>
        <article class="col-12 col-md-3">
          <a href="/links-awakening/index.html">Link's Awakening</a><br>
          <a href="/oracle-of-ages/index.html">Oracle of Ages</a><br>
          <a href="/oracle-of-seasons/index.html">Oracle of Seasons</a><br>
          <a href="/link-between-worlds/index.html">A Link Between Worlds</a><br>
          <a href="/tri-force-heroes/index.html">Tri Force Heroes</a>
        </article>
        <article class="col-12 col-md-3">
          <a href="/the-legend-of-zelda/index.html">The Legend of Zelda</a><br>
          <a href="/the-adventure-of-link/index.html">The Adventure of Link</a><br>
          <a href="/majoras-mask/index.html">Majora's Mask</a><br>
          <a href="/twilight-princess/index.html">Twilight Princess</a><br>
          <a href="/four-swords-adventures/index.html">Four Swords Adventures</a>
        </article>
        <article class="col-12 col-md-3">
          <a href="/wind-waker/index.html">The Wind Waker</a><br>
          <a href="/phantom-hourglass/index.html">Phantom Hourglass</a><br>
          <a href="/spirit-tracks/index.html">Spirit Tracks</a><br>
          <a href="/breath-of-the-wild/index.html">Breath of the Wild</a><br>
          <a href="/tears-of-the-kingdom/index.html">Tears of the Kingdom</a>
        </article>
      </section>
  </center>
  <hr>
</footer>