<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <img width=5% hight=auto src="/img/icon.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Creación
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/skyward-sword/index.html">Skyward Sword</a></li>
            <li><a class="dropdown-item" href="/minish-cap/index.html">The Minish Cap</a></li>
            <li><a class="dropdown-item" href="/four-swords/index.html">Four Swords</a></li>
            <li><a class="dropdown-item" href="/ocarina-of-time/index.html">Ocarina of Time</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Héroe Caído
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/a-link-to-the-past/index.html">A Link to the Past</a></li>
            <li><a class="dropdown-item" href="/links-awakening/index.html">Link´s Awakening</a></li>
            <li><a class="dropdown-item" href="/oracle-of-ages/index.html">Oracle of Ages</a></li>
            <li><a class="dropdown-item" href="/oracle-of-seasons/index.html">Oracle of Seasons</a></li>
            <li><a class="dropdown-item" href="/link-between-worlds/index.html">A Link Between Worlds</a></li>
            <li><a class="dropdown-item" href="/tri-force-heroes/index.html">Tri Force Heroes</a></li>
            <li><a class="dropdown-item" href="/the-legend-of-zelda/index.html">The Legend of Zelda</a></li>
            <li><a class="dropdown-item" href="/the-adventure-of-link/index.html">The Adventure of Link</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Linea Temporal del Niño
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/majoras-mask/index.html">Majora´s Mask</a></li>
            <li><a class="dropdown-item" href="/twilight-princess/index.html">Twilight Princess</a></li>
            <li><a class="dropdown-item" href="/four-swords-adventures/index.html">Four Swords Adventures</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Linea Temporal del Adulto
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/wind-waker/index.html">The Wind Waker</a></li>
            <li><a class="dropdown-item" href="/phantom-hourglass/index.html">Phantom Hourglass</a></li>
            <li><a class="dropdown-item" href="/spirit-tracks/index.html">Spirit Tracks</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sin Confirmar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/breath-of-the-wild/index.html">Breath of the Wild</a></li>
            <li><a class="dropdown-item" href="/tears-of-the-kingdom/index.html">Tears of the Kingdom</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>