---
layout: layout-page.njk
title: Acerca 
description: Meta descripción página de inicio
---
</p>
<h1>Acerca</h1>
</p>

<center>
  <section class="row container-lg">
    <article class="col-12 col-md-4 ">
      <h3>Alumno</h3>
      <p class="text-center">Nombre: Diego Ricardo Wolf Cruz</p><br>
      <p class="text-center">Estudiante de Desarrollo de Software Interactivo y Videojuegos</p>
      <h4>Contacto:</h4>
      <p class="text-center">Número celular: 5551446347</p>
      
        <a href="https://www.facebook.com/wolfito.cruz?mibextid=ZbWKwL" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="https://www.facebook.com/wolfito.cruz?mibextid=ZbWKwL/" height="40"  /></a>
        </p>
        <a href="https://www.instagram.com/diego_wolfff?igsh=ajd5cjM1OTBxdHFu" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="https://www.instagram.com/diego_wolfff?igsh=ajd5cjM1OTBxdHFu" height="40" /></a>
        </p>
        <a href="wolfcruz143@gmail.com" target="blank"><img align="center" src="https://ams3.digitaloceanspaces.com/graffica/2021/06/logogmailgrafica-1-1024x576.png" alt="wolfcruz143@gmail.com" height="40" /></a>
    </article>
    <article class="col-12 col-md-4">
      <h3>Materia</h3>
      <p class="text-center">Lenguajes Interpretados</p>
      <p class="text-center">Nombre del Profesor: Jonathan U. Miranda Charles</p>
      <p class="text-center">Email Institucional: jmiranda@amerike.edu.mx</p>
      <a href="https://jonmircha.com/">Página Web del Profesor</a>
    </article>
    <article class="col-12 col-md-4">
      <h3>Proyecto</h3>
      <p class="text-center">Esta página web está dedicada a la recopílación sobre la linea temporal del videojuego propiedad de Nintendo "The Legend of Zelda". Es un proyecto construido sin ningún fin lucrativo, sino que fue creado con el objetivo de aprender</p>
    </article>
  </section>
</center>
