---
layout: buscador.njk
title: Juegos
---
  <style>
a:link {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<br>
<div class="search-wrapper">
              <label for="search">Buscar Articulo</label>
              <input type="text" name="buscador" id="buscador" placeholder="Buscar...">
</div>
<br>

<ul id="listaArticulos">
  <li class="articulo"><a href="/skyward-sword">Skyward Sword</li>
  <li class="articulo"><a href="/minish-cap">Minish Cap</li>
  <li class="articulo"><a href="/four-swords">Four Swords</li>
  <li class="articulo"><a href="/ocarina-of-time">Ocarina of Time</li>
  <li class="articulo"><a href="/a-link-to-the-past">A Link to the Past</li>
  <li class="articulo"><a href="/links-awakening">Link's Awakening</li>
  <li class="articulo"><a href="/oracle-of-ages">Oracle of Ages</li>
  <li class="articulo"><a href="/oracle-of-seasons">Oracle of Seasons</li>
  <li class="articulo"><a href="/link-between-worlds">A Link Between Worlds</li>
  <li class="articulo"><a href="/tri-force-heroes">Tri Force Heroes</li>
  <li class="articulo"><a href="/the-legend-of-zelda">The Legend of Zelda</li>
  <li class="articulo"><a href="/the-adventure-of-link">The Adventure of Link</li>
  <li class="articulo"><a href="/majoras-mask">Majora's Mask</li>
  <li class="articulo"><a href="/twilight-princess">Twilight Princess</li>
  <li class="articulo"><a href="/four-swords-adventures">Four Swords Adventures</li>
  <li class="articulo"><a href="/wind-waker">The Wind Waker</li>
  <li class="articulo"><a href="/phantom-hourglass">Phantom Hourglass</li>
  <li class="articulo"><a href="/spirit-tracks">Spirit Tracks</li>
  <li class="articulo"><a href="/breath-of-the-wild">Breath of the Wild</li>
  <li class="articulo"><a href="/tears-of-the-kingdom">Tears of the Kingdom</li>
</ul>
